.get-started {
  background-color: #080202;
  display: flex;
  justify-content: center;
  padding: 80px 0 120px 0;
  background-image: url("../img/form-page.webp");
  background-position: -100px 370px;
  background-size: cover;
  background-repeat: no-repeat;
}
.get-started-3 {
  background-color: #080202;
  display: flex;
  justify-content: center;
  padding: 80px 0 120px 0;
  background-image: url("../img/form-page.webp");
  background-position: -390px 680px;
  background-size: cover;
  background-repeat: no-repeat;
}
.inner-get-started-crtl {
  display: flex;
  justify-content: center;
}
.inner-get-started {
  width: 80%;
}
.go-back:hover a {
  gap: 30px;
  transition: all 0.3s ease;
}
.go-back a {
  transition: all 0.3s ease;
  font-family: "REM", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #9c9999;
  display: flex;
  align-items: center;
  gap: 40px;
}
.step-box-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
}
.step-box-main > span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #9c9a9a;
}
.step-box-main h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  padding: 40px 0;
}

.step-action-area {
  width: 34%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-box {
  cursor: pointer;
  border: 1px solid #ffffff33;
  padding: 20px 25px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.step-box h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.step-box span {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #cecccc;
}
.step-action-area .step-box:hover {
  border: 1px solid #ca262b33;
  border-radius: 4px;
  background-color: #ca262b1a;
  transition: all 0.3s ease;
}
.step-action-area .step-box:hover svg path {
  fill: #ca262b;
  transition: all 0.2s ease;
}

/* Pick your products */
.inner-pick-products {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
  padding: 0 0 60px 0;
}
.pick-product-cart {
  width: 240px;
}
.prod-info {
  background-color: #211b1b;
  border-radius: 4px 4px 0 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 290px;
}
.prod-info img {
  border-radius: 4px;
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.prod-info h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.prod-info span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #9d9b9b;
}
.prod-info p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #d3d1d1;
}
.prod-add-cart {
  background-color: #373232;
  border-radius: 0 0 4px 4px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

/* review your cart */
.review-cart {
  width: 90%;
}
.row-50 {
  display: flex;
  padding: 0 0 30px 0;
}
.row-50 div {
  width: 50%;
}
.row-50 span {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.row-50 a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  color: #9c9a9a;
  cursor: pointer;
}
.row-50 a:hover {
  color: #ca262b;
}
.inner-review {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.product-info-qnt {
  background-color: #211b1b;
  padding: 12px;
  border-radius: 4px;
  width: 59%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
}
.single-prod-box {
  display: flex;
  background-color: #373232;
  padding: 12px;
  border-radius: 4px;
  gap: 20px;
}
.img {
  width: 40%;
}
.img img {
  width: 100%;
  height: 110px;
  border-radius: 4px;
  object-fit: cover;
}
.prod-de-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.prod-name {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 12px 0;
}
.prod-name h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.prod-name svg {
  cursor: pointer;
}
.prod-name svg:hover g {
  opacity: 1;
  transition: all 0.3s ease;
}
.quantity {
  display: flex;
}
.input-box {
  background-color: #373232;
  border: 1px solid #878484;
  padding: 5px;
  color: #ffffff;
  outline: none;
  text-align: center;
}
.input-box[type="number"] {
  -moz-appearance: textfield;
}
.minus,
.plus {
  background-color: #373232;
  border: 1px solid #878484;
  padding: 5px 8px;
  color: #878484;
}
.minus {
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
  z-index: 2;
}
.plus {
  border-radius: 0 3px 3px 0;
  margin-left: -1px;
  z-index: 2;
}
.minus:hover,
.plus:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.prod-price {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 0 0;
  align-items: center;
}
.prod-price > span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.product-price-pay {
  background-color: #211b1b;
  padding: 24px;
  border-radius: 4px;
  width: 39%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.btn-year {
  display: flex;
  gap: 20px;
}
.purchase {
  border: 1px solid #a6a4a4;
  background-color: transparent;
  border-radius: 4px;
  padding: 15px 50px;
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.purchase:hover {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.purchase span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #a6a4a4;
}
.purchase:hover span {
  color: #000000;
}
.product-price-pay span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.price-year {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.year {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.year:hover {
  background-color: #ffffff;
}
.year:hover span {
  color: #000000;
}
.year:hover h6 {
  color: #000000;
}
.year span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.year h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.shipping > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.shipping div span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.shipping div h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #a6a4a4;
}
