.hero-section-prod {
  display: flex;
  flex-direction: column;
  background-color: #080202;
  align-items: center;
  background-image: url("../img/Blur-red-bg.svg");
  background-repeat: no-repeat;
  background-position: 95% 70px;
  background-size: contain;
}
.inner-hero-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
.inner-hero-prod div h1 {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 90px;
}
.inner-hero-prod div h1 span {
  color: #ca262b;
  font-size: 72px;
}
.inner-hero-prod div span {
  color: #ca262b;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 20px 0 40px 0;
}
.info-hero-prod {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  width: 60%;
}
.hero-img-prod {
  display: flex;
  justify-content: center;
  width: 40%;
}
.hero-img-prod img {
  width: 100%;
  border-radius: 4px;
}

.marquee-container-prod {
  padding: 80px 0;
  width: 100%;
  opacity: 0.5;
  overflow: hidden;
  position: relative;
}
.marquee-prod {
  display: flex;
  width: max-content;
  gap: 40px;
}
.marquee-prod img {
  width: 170px;
  height: auto;
  flex-shrink: 0;
}

/* services */
.ben-services-prod {
  background-color: #080202;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 100px 0;
}
.inner-ben-sev-prod {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.title-prod {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-prod h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #ffffff;
}
.title-prod span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ca262b;
}

.ser-icon-card-prod {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.icon-box-prod {
  border: 1px solid #3e0c0d;
  background-color: #1b0606;
  width: 380px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 70px;
}
.icon-box-prod svg {
  width: 60px;
  height: 60px;
}
.icon-box-prod h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}
.icon-box-prod p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #9c9999;
}

/* slider ad  */
.slider-ad-prod {
  background-color: #080202;
  display: flex;
  justify-content: center;
  padding: 40px 0 80px 0;
}

.slider-prod-card {
  background-color: #ffffff;
  display: flex;
  padding: 40px;
  border-radius: 4px;
  flex-wrap: wrap;
}
.left-slider-prod {
  width: 50%;
  padding: 6% 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-slider-prod h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
  text-transform: capitalize;
  color: #080202;
}
.left-slider-prod p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  color: #6b6767;
}
.right-slider-prod {
  width: 50%;
}
.prod-slide-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-slider-prod img {
  width: 100%;
  border-radius: 4px;
  height: 500px;
  object-fit: cover;
}
.prev-next-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.btn-ctrl {
  display: flex;
  gap: 40px;
}
.nxt-btn,
.prev-btn {
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.nxt-btn:hover,
.prev-btn:hover {
  transition: all 0.3s ease;
  background-color: #6b6767;
}
.nxt-btn:hover svg path,
.prev-btn:hover svg path {
  transition: all 0.3s ease;
  fill: #ffffff;
}
.dot-box {
  display: flex;
  gap: 7px;
}
.dot {
  cursor: pointer;
  width: 9px;
  height: 9px;
  border-radius: 2px;
  background-color: #cecccc;
  transition: all 0.3s ease;
}
.dot:hover {
  transition: all 0.3s ease;
  background-color: #6b6767;
}
.dot-active {
  background-color: #6b6767;
}
.slider-prod-card {
  display: none;
}
.slider-prod-card.active {
  display: flex;
}

/* speed services */
.services-speed {
  display: flex;
  justify-content: center;
  background-color: #080202;
  padding: 80px 0;
}
.inner-services-speed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.left-srvc-speed {
  width: 50%;
  padding: 0 6% 0 0;
}
.left-srvc-speed h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 72px;
  text-transform: capitalize;
  color: #ffffff;
}
.left-srvc-speed p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #9c9a9a;
  padding: 30px 0 40px 0;
}
.right-srvc-speed {
  width: 50%;
  padding: 0 0 0 5%;
}
.right-srvc-speed img {
  width: 100%;
  border-radius: 4px;
}

/* technical-dtl */
.technical-dtl {
  background-color: #080202;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-image: url("../img/tilt-prod.svg");
  background-repeat: no-repeat;
  background-position: 140px 0px;
  background-size: 40%;
}
.inner-technical-dtl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inner-technical-dtl {
  display: none;
}

.inner-technical-dtl.active {
  display: flex;
}
.left-technical-dtl {
  width: 50%;
  display: flex;
  justify-content: center;
}
.left-technical-dtl img {
  width: 45%;
  border-radius: 4px;
  height: 540px;
  object-fit: cover;
}
.right-technical-dtl {
  width: 50%;
  padding: 0 0 0 5%;
}
.right-technical-dtl h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 72px;
  text-transform: capitalize;
  color: #ffffff;
}
.right-technical-dtl ul {
  padding: 20px 0 50px 20px;
}
.right-technical-dtl ul li {
  color: #9c9a9a;
  list-style: disc;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 3px;
}

.btn-ctrl-trs {
  display: flex;
  gap: 66%;
  justify-content: center;
  padding: 50px 0 0 0;
}
.nxt-btn-trs,
.prev-btn-trs {
  cursor: pointer;
  background-color: #ffffff14;
  padding: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.nxt-btn-trs:hover,
.prev-btn-trs:hover {
  transition: all 0.3s ease;
  background-color: transparent;
}

/* client about */
.client-about {
  background-color: #080202;
  display: flex;
  justify-content: center;
  padding: 80px 0;
}
.clients-card {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}
.left-client-img {
  width: 47%;
}
.left-client-img img {
  width: 100%;
  border-radius: 4px;
}
.right-client-info {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.right-client-info p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  line-height: 26px;
}
.client-name {
  display: flex;
  gap: 30px;
}
.client-name h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #cecccc;
}
.client-name span {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ca262b;
}
.gap-90 {
  gap: 91%;
}
.clients-card {
  display: none;
}

.clients-card.active {
  display: flex;
}

.btn-ctrl-trs-1 {
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
}
.nxt-btn-trs-1,
.prev-btn-trs-1 {
  cursor: pointer;
  background-color: #ffffff14;
  padding: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.nxt-btn-trs-1:hover,
.prev-btn-trs-1:hover {
  transition: all 0.3s ease;
  background-color: transparent;
}

/* faqs */
.faqs {
  background-color: #080202;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.fix-width {
  display: flex;
  justify-content: center;
}

.inner-faqs {
  max-width: 1000px;
  width: 100%;
}

.inner-faqs h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}

.accordion {
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #211b1b;
}

.accordion-toggle {
  display: none;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  cursor: pointer;
}

.accordion-title h3 {
  color: #c8c7c7;
  font-family: "REM", sans-serif;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
}

.accordion-title svg {
  transition: transform 0.3s ease;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 30px;
}

.content p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  padding: 0 0 20px 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.accordion-toggle:checked + .accordion-title svg {
  transform: rotate(180deg);
}

.accordion-toggle:checked ~ .content {
  max-height: 1000px;
}

.accordion-toggle:checked ~ .content p {
  opacity: 1;
  padding: 0 0 20px 0;
}
