.hero-section-prod {
  display: flex;
  flex-direction: column;
  background-color: #080202;
  align-items: center;
  background-image: url("../img/Blur-red-bg.svg");
  background-repeat: no-repeat;
  background-position: 95% 70px;
  background-size: contain;
}
.inner-hero-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
.inner-hero-prod div h1 {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 90px;
}
.inner-hero-prod div h1 span {
  color: #ca262b;
  font-size: 72px;
}
.inner-hero-prod div span {
  color: #ca262b;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 20px 0 40px 0;
}
.info-hero-prod {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  width: 60%;
}
.hero-img-prod {
  display: flex;
  justify-content: center;
  width: 40%;
}
.hero-img-prod img {
  width: 100%;
  border-radius: 4px;
}

.marquee-container-prod {
  padding: 80px 0;
  width: 100%;
  opacity: 0.5;
  overflow: hidden;
  position: relative;
}
.marquee-prod {
  display: flex;
  width: max-content;
  gap: 40px;
}
.marquee-prod img {
  width: 170px;
  height: auto;
  flex-shrink: 0;
}

/* services */
.ben-services-prod {
  background-color: #080202;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 100px 0;
}
.inner-ben-sev-prod {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.title-prod {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-prod h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #ffffff;
}
.title-prod span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ca262b;
}

.ser-icon-card-prod {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.icon-box-prod {
  border: 1px solid #3e0c0d;
  background-color: #1b0606;
  width: 380px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 70px;
}
.icon-box-prod svg {
  width: 60px;
  height: 60px;
}
.icon-box-prod h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}
.icon-box-prod p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #9c9999;
}

/* slider ad  */
.slider-ad-prod{
    background-color: #080202;
    display: flex;
  justify-content: center;
  padding: 40px 0 80px 0;
}
.inner-slider-ad-all-card{

}

.slider-prod-card{
    background-color: #ffffff;
    display: flex;
  padding: 40px;
  border-radius: 4px;
  flex-wrap: wrap;
}
.left-slider-prod{
    width: 50%;
    padding: 6% 5% 0 5%;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-slider-prod h2{
      font-family: "DM Sans", sans-serif;
font-weight: 500;
font-size: 48px;
text-transform: capitalize;
color: #080202;
}
.left-slider-prod p{
      font-family: "DM Sans", sans-serif;
font-weight: 400;
font-size: 24px;
text-transform: capitalize;
color: #6B6767;
}
.right-slider-prod{
    width: 50%;
}
.prod-slide-title{
    display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-slider-prod img{
    width: 100%;
    border-radius: 4px;
    height: 500px;
  object-fit: cover;
}
.prev-next-nav{
    display: flex;
  gap: 40px;
  align-items: center;
}
.btn-ctrl{
    display: flex;
    gap: 40px;
}
.nxt-btn , .prev-btn
{
    cursor: pointer;
    background-color: #F5F5F5;
  padding: 16px;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.nxt-btn:hover , .prev-btn:hover
{
    transition: all 0.3s ease;
    background-color: #6B6767;
}
.nxt-btn:hover svg path, .prev-btn:hover svg path
{
    transition: all 0.3s ease;
    fill: #ffffff;
}
.dot-box{
    display: flex;
  gap: 7px;
}
.dot {
    cursor: pointer;
width: 9px;
height: 9px;
border-radius: 2px;
background-color: #CECCCC;
transition: all 0.3s ease; 
}
.dot:hover {
    transition: all 0.3s ease;
background-color: #6B6767;
}
.dot-active{
    background-color: #6B6767;
}
.slider-prod-card {
    display: none;
}
.slider-prod-card.active {
    display: flex;
}