/* ================================================================== */
/* 1920px */
/* ================================================================== */
@media (max-width: 1920px) {
}

/* ================================================================== */
/* 1600px */
/* ================================================================== */
@media (max-width: 1600px) {
  .hero-section {
    background-position: 550px 100px;
  }
  .w-25 {
    width: 23.9%;
  }
  .w-33 {
    width: 32.3%;
  }
  .w-400px {
    width: 340px;
  }
  .digi-sin {
    padding: 290px 110px 30px 30px;
  }
  .inventory {
    padding: 290px 90px 30px 30px;
  }
  .review {
    padding: 290px 100px 30px 30px;
  }
  .form {
    background-position: -130px 350px;
  }
  .title h1 {
    font-size: 58px;
  }
  .title p {
    font-size: 18px;
  }
  .text {
    gap: 30px;
  }
  .ben-services {
    padding: 80px 0 80px 0;
  }
  .testmoni-warp,
  .news-card-warp {
    max-width: 95%;
  }
  .text-black {
    width: 95%;
  }
  .inner-form-container {
    padding: 1% 29% 1% 29%;
  }
  .inner-footer-container {
    justify-content: space-between;
  }
  /* product page ================= */
  .hero-section-prod {
    background-position: 600px 10px;
  }
  .inner-hero-prod div h1 {
    font-size: 69px;
  }
  .icon-box-prod {
    width: 340px;
    padding: 30px 60px;
  }
  .left-srvc-speed h2 {
    font-size: 68px;
  }
  .technical-dtl {
    padding: 80px 0;
    background-position: 110px -20px;
    background-size: 45%;
  }
  .left-technical-dtl img {
    height: 490px;
  }
  .w-60 {
  width: 66%;
}
.client-name h6 {
  font-size: 22px;
}
.client-name span {
  font-size: 22px;
}
.right-client-info {
  gap: 30px;
}
.right-client-info p {
  font-size: 20px;
}
}

/* ================================================================== */
/* 1366px */
/* ================================================================== */
@media (max-width: 1366px) {
  .mega-menu {
    left: calc(50% - 650px);
    top: 110px;
  }
  .mega-menu-two {
    left: calc(50% - 650px);
    top: 110px;
  }
  .hero-section {
    background-position: 420px 70px;
  }
  .w-25 {
    width: 23.78%;
  }
  .w-33 {
    width: 32.2%;
  }
  .w-400px {
    width: 300px;
  }
  .logo-s {
    padding: 50px 0;
  }
  .p-80 {
    padding-top: 60px;
  }
  .mrg-left {
    margin-left: 5vw;
  }
  .text-box h2,
  .text-box-b h2 {
    font-size: 54px;
  }
  .text-box-2 h2 {
    font-size: 42px;
  }
  .text-box-3 h2 {
    font-size: 42px;
  }
  .pickup {
    padding: 290px 80px 30px 30px;
  }
  .digi-sin {
    padding: 290px 60px 30px 30px;
  }
  .inventory {
    padding: 290px 40px 30px 30px;
  }
  .review {
    padding: 290px 50px 30px 30px;
  }
  .left-container {
    padding: 0 5% 0 0;
  }
  .title h1 {
    font-size: 56px;
  }
  .ben-services {
    padding: 80px 0 60px 0;
  }
  .text-black {
    width: 90%;
  }
  .testmoni-warp,
  .news-card-warp {
    max-width: 100%;
  }
  .testmoni-card,
  .news-card {
    min-width: max-content;
    padding: 0 0 30px 0;
  }
  .inner-form-container {
    padding: 1% 25%;
    gap: 50px;
  }
  /* product page ======================== */
  .hero-section-prod {
    background-position: 550px 40px;
  }
  .inner-hero-prod div h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .marquee-container-prod {
    padding: 80px 0 40px 0;
  }
  .inner-ben-sev-prod {
    gap: 60px;
  }
  .icon-box-prod {
    width: 290px;
    padding: 30px 30px;
  }
  .left-slider-prod p {
    font-size: 22px;
  }
  .services-speed {
    padding: 20px 0;
  }
  .left-srvc-speed h2 {
    font-size: 60px;
  }
  .left-srvc-speed {
    padding: 0 4% 0 0;
  }
  .left-srvc-speed p {
    font-size: 16px;
    padding: 20px 0 40px 0;
  }
  .technical-dtl {
    background-position: 70px -10px;
    background-size: 45%;
  }
  .right-technical-dtl h2 {
    font-size: 62px;
  }
  .right-technical-dtl ul li {
    font-size: 18px;
  }
  .left-technical-dtl img {
    height: 420px;
  }
  .clients-card {
  gap: 50px;
  }
}

/* ================================================================== */
/* 1200px */
/* ================================================================== */
@media (max-width: 1200px) {
  .breadcrumb {
    display: block;
  }
  .navbar,
  .buttons {
    display: none;
  }
  .language-button {
    background-color: transparent;
  }
  .language-button svg path {
    fill: #000000;
  }
  .language-options {
    background-color: #ffffff;
  }
  .language-options div:hover {
    background-color: #cccccc;
  }
  .hero-section {
    background-position: 270px 50px;
  }
  .info-hero {
    padding-right: 0;
  }
  .w-25 {
    width: 23.6%;
  }
  .w-33 {
    width: 32.1%;
  }
  .w-400px {
    width: 270px;
  }
  .counter-box h2 {
    font-size: 52px;
  }
  .counter-box span {
    font-size: 18px;
  }
  .text-box h2,
  .text-box-b h2 {
    font-size: 44px;
  }
  .text-box span,
  .text-box-b span {
    font-size: 18px;
  }
  .text-box-2 h2 {
    font-size: 36px;
  }
  .text-box-2 span {
    font-size: 18px;
  }
  .text-box-3 h2 {
    font-size: 36px;
  }
  .text-box-3 span {
    font-size: 18px;
  }
  .pickup {
    padding: 200px 30px 30px 30px;
  }
  .digi-sin {
    padding: 200px 30px 30px 30px;
  }
  .inventory {
    padding: 200px 30px 30px 30px;
  }
  .review {
    padding: 200px 30px 30px 30px;
  }
  .title h1 {
    font-size: 50px;
  }
  .ser-icon-card {
    gap: 40px;
  }
  .icon-box {
    width: 48%;
  }
  .text-flex {
    padding: 50px 0 0 0;
  }
  .inner-form-container {
    padding: 1% 22%;
  }
  /* product page ========================== */
  .hero-section-prod {
    background-position: 500px 20px;
  }
  .inner-hero-prod div h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .inner-hero-prod div span {
    font-size: 22px;
    margin: 20px 0 36px 0;
  }
  .title-prod h2 {
    font-size: 54px;
  }
  .icon-box-prod {
    width: 530px;
  }
  .left-slider-prod {
    padding: 5% 5% 0 2%;
  }
  .left-slider-prod h2 {
    font-size: 44px;
  }
  .left-slider-prod p {
    font-size: 20px;
  }
  .right-slider-prod img {
    height: 400px;
  }
  .left-srvc-speed h2 {
    font-size: 50px;
  }
  .left-srvc-speed {
    padding: 0 2% 0 0;
  }
  .left-srvc-speed p {
    padding: 20px 0 30px 0;
  }
  .technical-dtl {
    background-position: 40px -40px;
    background-size: 50%;
  }
  .technical-dtl {
    padding: 60px 0;
  }
  .left-technical-dtl img {
    height: 380px;
  }
  .w-60 {
    width: 90%;
  }
  .client-about {
  padding: 60px 0;
}
}

/* ================================================================== */
/* 1024px */
/* ================================================================== */
@media (max-width: 1024px) {
  .hero-section {
    background-position: 170px 100px;
  }
  .inner-hero div span {
    font-size: 22px;
  }
  .w-33 {
    width: 31.88%;
  }
  .w-50 {
    width: 48.9%;
  }
  .w-400px {
    width: 230px;
  }
  .logo-s {
    padding: 40px 0;
  }
  .p-80 {
    padding-top: 40px;
  }
  .inner-hero div h1 {
    font-size: 62px;
  }
  .form {
    padding: 20px 0;
    background-position: -800px 610px;
  }
  .left-container {
    width: 100%;
    padding: 0;
  }
  .title h1 {
    line-height: 50px;
  }
  .text {
    padding: 50px 0 0 0;
  }
  .right-container {
    width: 100%;
    padding: 60px 0 0 0;
  }
  .icon-box {
    width: 47%;
  }
  .inner-form-container {
    padding: 1% 17%;
  }
  /* product page ============================ */
  .hero-section-prod {
    background-position: 400px 40px;
  }
  .inner-hero-prod div h1 {
    font-size: 41px;
    line-height: 50px;
  }
  .title-prod h2 {
    font-size: 50px;
  }
  .inner-hero-prod div span {
    font-size: 18px;
  }
  .icon-box-prod {
    width: 450px;
  }
  .ben-services-prod {
    padding: 30px 0 50px 0;
  }
  .right-slider-prod img {
    height: 360px;
  }
  .left-slider-prod h2 {
    font-size: 40px;
  }
  .left-slider-prod p {
    font-size: 18px;
  }
  .left-srvc-speed h2 {
    font-size: 46px;
  }
  .right-technical-dtl h2 {
    font-size: 52px;
  }
  .right-technical-dtl ul {
    padding: 20px 0 40px 20px;
  }
  .left-technical-dtl img {
    width: 55%;
  }
  .technical-dtl {
    background-position: -20px -30px;
    background-size: 60%;
  }
  .gap-90 {
  gap: 66%;
}
.right-client-info p {
    font-size: 18px;
    line-height: 22px;
  }
   .client-name h6 {
    font-size: 20px;
  }
  .client-name span {
    font-size: 20px;
  }
}

/* ================================================================== */
/* 850px */
/* ================================================================== */
@media (max-width: 850px) {
  .col-6 {
    width: unset;
  }
  .col-md-12 {
    width: 100%;
  }
  .hero-section {
    background-position: -380px 210px;
    background-size: cover;
  }
  .inner-hero div h1 {
    font-size: 52px;
  }
  .inner-footer-container {
    justify-content: start;
  }
  .w-full {
    width: 100%;
  }
  .w-400px {
    width: 50%;
  }
  .w-50 {
    width: 48.5%;
  }
  .logo-s {
    padding: 30px 0;
  }
  .p-80 {
    padding-top: 30px;
  }
  .w-20 {
    width: 33%;
  }
  .m-20 {
    margin-top: 30px;
  }
  .p-left {
    padding-left: 0;
  }
  .left-container-box {
    width: 100%;
  }
  .right-container-box {
    width: 100%;
    padding: 60px 0 0 0;
    justify-content: center;
  }
  .right-container-box-inv {
    width: 100%;
    padding: 60px 0 0 0;
    justify-content: center;
  }
  .ben-services {
    padding: 40px 0 40px 0;
  }
  .lates-news {
    padding: 60px 0;
  }
  .flex-rev {
    flex-direction: column-reverse;
  }
  .text-flex {
    width: 90%;
  }
  .inner-ben-sev h2,
  .text-black h2 {
    font-size: 54px;
  }
  .inner-form-container {
    padding: 1% 9%;
  }
  .inner-info {
    gap: 80px;
  }
  /* product page =========================== */
  .hero-section-prod {
    background-position: 0px 280px;
  }
  .info-hero-prod {
    padding-right: 0;
    width: 100%;
  }
  .hero-img-prod {
    width: 100%;
    margin-top: 50px;
  }
  .hero-img-prod img {
    width: 60%;
  }
  .title-prod h2 {
    font-size: 48px;
  }
  .title-prod span {
    font-size: 16px;
  }
  .icon-box-prod {
    width: 354px;
  }
  .left-slider-prod {
    width: 100%;
    height: 300px;
  }
  .left-slider-prod {
    padding: 5% 0%;
  }
  .prev-next-nav {
    flex-direction: row-reverse;
  }
  .right-slider-prod {
    width: 100%;
  }
  .left-srvc-speed {
    width: 100%;
    padding: 0;
  }
  .right-srvc-speed {
    width: 100%;
    padding: 80px 0 0 0;
    display: flex;
    justify-content: center;
  }
  .right-srvc-speed img {
    width: 60%;
  }
  .btn-ctrl-trs {
    gap: 60%;
  }
  .right-technical-dtl h2 {
    font-size: 44px;
  }
  .left-technical-dtl {
    justify-content: start;
  }
  .left-technical-dtl img {
    width: 70%;
  }
  .right-technical-dtl {
    padding: 0;
  }
  .right-technical-dtl ul li {
    font-size: 16px;
  }
  .client-about {
  padding: 30px 0;
}
   .clients-card {
    gap: 40px;
  }
    .right-client-info p {
    font-size: 16px;
  }
}

/* ================================================================== */
/* 550px */
/* ================================================================== */
@media (max-width: 550px) {
  .header-container {
    width: 90%;
  }
  .mobl-menu {
    width: 100%;
  }
  .inner-hero {
    gap: 40px;
  }
  .info-hero {
    gap: 20px;
  }
  .inner-hero div h1 {
    font-size: 42px;
    line-height: 50px;
  }
  .inner-hero div span {
    font-size: 16px;
  }
  .hero-img img {
    width: 100%;
  }
  .hero-section {
    background-position: -270px 310px;
    background-size: 900px;
  }
  .marquee img {
    width: 140px;
  }
  .inner-footer-container {
    padding: 40px 10px 0 10px;
    gap: 20px;
  }
  .w-20 {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }
  .logo-s {
    padding: 30px 0;
  }
  .counter-box h2 {
    font-size: 48px;
  }
  .counter-box span {
    font-size: 14px;
  }
  .p-m-30 {
    padding-left: 30px;
  }
  .p-80 {
    padding-top: 0;
  }
  .inner-copyright {
    margin: 30px -20px 0 -20px;
  }
  .text-box h2 {
    font-size: 36px;
  }

  .text-box-b h2 {
    font-size: 48px;
  }
  .news-box h3 {
    font-size: 18px;
  }
  .news-box p {
    font-size: 14px;
  }
  .inner-ben-sev {
    gap: 40px;
  }
  .inner-ben-sev h2 {
    padding: 0 0 20px 0;
  }
  .logo-scroller-container {
    padding: 60px 0;
  }
  .footer {
    padding: 30px 0 0 0;
  }
  .text-box-3 {
    text-align: center;
  }
  .text-flex {
    width: 100%;
  }
  .form-section {
    padding: 20px 0 60px 0;
  }
  .text-box span,
  .text-box-2 span,
  .text-box-3 span,
  .text-box-b span {
    font-size: 16px;
  }
  .reg,
  .digi,
  .res,
  .pickup,
  .digi-sin,
  .inventory,
  .review {
    padding: 110px 0;
    display: flex;
    justify-content: center;
  }
  .form {
    padding: 20px 0 40px 0;
    background-position: -990px 540px;
    background-size: cover;
  }
  .title h1 {
    font-size: 42px;
  }
  .title h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .title p {
    font-size: 16px;
  }
  .p-text {
    font-size: 16px;
  }
  .inner-form-container {
    padding: 2% 0%;
    gap: 30px;
  }
  .inner-form-container h2 {
    text-align: start;
  }
  .inner-form-container img {
    width: 100%;
  }
  .m-20 {
    margin-top: 0;
  }
  .left-container-box h2 {
    font-size: 38px;
    line-height: 40px;
  }
  .information {
    padding: 80px 0;
  }
  .left-container-box p {
    font-size: 16px;
    padding: 20px 0 40px 0;
  }
  .right-container-box,
  .right-container-box-inv {
    padding: 40px 0 0 0;
  }
  .right-container-box img,
  .right-container-box-inv img {
    width: 80%;
  }
  .inner-ben-sev h2,
  .text-black h2 {
    font-size: 38px;
  }
  .inner-new-container {
    gap: 20px;
  }
  .testmoni-box,
  .news-box {
    width: 320px;
  }
  .lates-news {
    padding: 40px 0;
  }
  .news-box img {
    height: 220px;
  }
  .icon-box {
    width: 100%;
  }
  .testmoni-card {
    padding: 0 0 20px 0;
  }
  .ben-services {
    padding: 0 0 30px 0;
  }
  .text-center {
    text-align: start;
  }
  .social-links {
    justify-content: space-around;
  }
  .copyright {
    padding: 0 20px;
  }
  /* product page ======================== */
  .hero-section-prod {
    background-position: -280px 170px;
    background-size: 960px;
  }
  .inner-hero-prod div h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .inner-hero-prod div span {
    font-size: 16px;
  }
  .p-lr {
    padding: 13px 45px;
  }
  .hero-img-prod img {
    width: 95%;
  }
  .ben-services-prod {
    padding: 30px 0 40px 0;
  }
  .title-prod h2 {
    font-size: 36px;
  }
  .ser-icon-card-prod {
    gap: 30px;
  }
  .icon-box-prod {
    width: 100%;
  }
  .slider-prod-card {
    padding: 30px;
  }

  .left-slider-prod {
    padding: 0 0 30px 0;
    height: 280px;
  }
  .left-slider-prod h2 {
    font-size: 32px;
  }
  .left-slider-prod p {
    font-size: 16px;
  }
  .prev-next-nav {
    justify-content: space-between;
  }
  .right-slider-prod img {
    height: 260px;
  }
  .left-srvc-speed h2 {
    font-size: 36px;
  }
  .left-srvc-speed p {
    padding: 20px 0 40px 0;
  }
  .right-srvc-speed {
    padding: 50px 0 0 0;
  }
  .right-srvc-speed img {
    width: 100%;
  }
  .technical-dtl {
    padding: 40px 0;
    background-position: -120px 80px;
    background-size: cover;
  }
  .left-technical-dtl img {
    width: 100%;
  }
  .inner-technical-dtl {
    flex-direction: column-reverse;
  }
  .right-technical-dtl {
    width: 100%;
  }
  .right-technical-dtl h2 {
    font-size: 36px;
  }
  .left-technical-dtl {
    width: 100%;
    justify-content: center;
    padding: 40px 0 0 0;
  }
  .left-client-img {
  width: 100%;
}
 .client-about {
    padding: 40px 0 60px 0;
  }
.right-client-info {
  width: 100%;
}
}
