/* ================================================================== */
/* 1920px */
/* ================================================================== */
@media (max-width: 1920px) {
}

/* ================================================================== */
/* 1600px */
/* ================================================================== */
@media (max-width: 1600px) {
}

/* ================================================================== */
/* 1366px */
/* ================================================================== */
@media (max-width: 1366px) {
  .mega-menu {
    left: calc(50% - 650px);
    top: 110px;
  }
  .mega-menu-two {
    left: calc(50% - 650px);
    top: 110px;
  }
}

/* ================================================================== */
/* 1200px */
/* ================================================================== */
@media (max-width: 1200px) {
  .breadcrumb {
    display: block;
  }
  .navbar,
  .buttons {
    display: none;
  }
  .language-button {
    background-color: transparent;
  }
  .language-button svg path {
    fill: #000000;
  }
  .language-options {
    background-color: #ffffff;
  }
  .language-options div:hover {
    background-color: #cccccc;
  }
}

/* ================================================================== */
/* 1024px */
/* ================================================================== */
@media (max-width: 1024px) {
}

/* ================================================================== */
/* 850px */
/* ================================================================== */
@media (max-width: 850px) {
}

/* ================================================================== */
/* 550px */
/* ================================================================== */
@media (max-width: 550px) {
  .header-container {
    width: 90%;
  }
  .mobl-menu {
    width: 100%;
  }
}
