@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.w-50 {
  width: unset;
}
.w-full {
  width: unset;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 24.06%;
}
.w-33 {
  width: 32.5%;
}
.w-100 {
  width: 100%;
}
.p-80 {
  padding-top: 80px;
}
.w-400px {
  width: 400px;
}
.p-left {
  padding-left: 5%;
}
/* Header start =============================================================== */
.header {
  display: flex;
  justify-content: center;
  background-color: #080202;
  padding: 30px 0;
  position: relative;
}
.container {
  width: 90%;
  max-width: 1600px;
}
.w-60{
  width: 61%;
}
.scroll-container {
  width: 100%;
  max-width: 1600px;
}
.small-container {
  width: 90%;
  max-width: 1200px;
}
.header-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
}
.navbar ul {
  display: flex;
  gap: 40px;
}
.navbar ul li {
  position: relative;
}
.navbar ul li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  gap: 10px;
  color: #fff;
  align-items: center;
}
.navbar ul li a:hover {
  color: #ca262b;
}
.navbar ul li a:hover svg path {
  fill: #ca262b;
}

/* mobile navbar */
.navbar-m {
  margin-top: 20px;
}

.navbar-m > ul > li > a {
  font-family: "DM Sans", sans-serif;
  padding: 18px 35px;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 10px;
  color: #000000;
  align-items: center;
}
.navbar-m ul li a:hover {
  color: #ca262b;
}
.navbar-m ul li a:hover svg path {
  fill: #ca262b;
}

/* mega menu */
.mega-menu {
  position: fixed;
  background-color: #ffffff;
  padding: 40px 40px 80px 40px;
  border-radius: 10px;
  display: none;
  gap: 30px;
  width: 1300px;
  z-index: 9;
  left: calc(50% - 700px);
  top: 110px;
}

.mega-menu.active {
  display: flex;
  justify-content: space-between;
}

.mega-menu-m {
  padding: 30px 35px;
  border-radius: 10px;
  width: 100%;
  /* height: 250px; */
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.parent {
  color: #333333;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.mega-menu ul,
.mega-menu-m ul {
  flex-direction: column;
  gap: 12px;
  display: flex;
}
.mega-menu ul li a,
.mega-menu-m ul li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #666666;
}

.mega-menu-two {
  position: fixed;
  background-color: #ffffff;
  padding: 40px 40px 80px 40px;
  border-radius: 10px;
  display: none;
  gap: 30px;
  width: 1300px;
  z-index: 9;
  left: calc(50% - 700px);
  top: 110px;
}

.mega-menu-two-m {
  margin: 20px 0 0 0;
  padding: 10px 35px;
  border-radius: 10px;
  width: 100%;
  /* height: 250px;
  overflow: scroll; */
  display: none;
  flex-direction: column;
  gap: 30px;
}
.mega-menu-two-m > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mega-menu-two.active {
  display: flex;
  justify-content: space-around;
}

.mega-menu-two ul {
  flex-direction: column;
  gap: 40px;
}
.mega-menu-two ul li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #666666;
}
.active-parent {
  background-color: #e5e5e5;
}
/* Hide mega menus by default */
.mega-menu-m,
.mega-menu-two-m {
  display: none;
}

/* Show when active */
.mega-menu-m.active,
.mega-menu-two-m.active {
  display: flex;
}

.icon-parent {
  display: flex;
  gap: 20px;
}

#mega-menu-two-m .icon-parent {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-parent span {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.icon-parent span p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

#mega-menu-two-m .icon-parent svg {
  width: 40px;
}

/* Buttons and other styles remain the same */
.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.btn-red-inv {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ca262b;
  padding: 13px 25px;
  border: 1px solid #ca262b;
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.3s ease;
}
.btn-red-inv:hover {
  color: #ffffff;
  border: 1px solid #ca262b;
  background-color: #ca262b;
  transition: all 0.3s ease;
}
.btn-red {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 13px 25px;
  border: 1px solid #ca262b;
  border-radius: 4px;
  background-color: #ca262b;
  transition: all 0.3s ease;
}
.btn-red:hover {
  color: #ca262b;
  border: 1px solid #ca262b;
  background-color: transparent;
  transition: all 0.3s ease;
}
.btn-white {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  padding: 13px 25px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.btn-white:hover {
  color: #000000;
  border: 1px solid #dddddd;
  background-color: #dddddd;
  transition: all 0.3s ease;
}
.btn-black {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 13px 30px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #000000;
  transition: all 0.3s ease;
}
.btn-black:hover {
  color: #ca262b;
  border: 1px solid #ca262b;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.btn-grey {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 13px 30px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: #211b1b;
  transition: all 0.3s ease;
}
.btn-grey:hover {
  color: #000000;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

/* language dropdown */
.language-dropdown {
  position: relative;
  display: inline-block;
}

.language-button {
  background: #080202;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-button img.arrow {
  width: 12px;
  filter: brightness(0) invert(1); /* makes arrow white */
}

.language-options {
  display: none;
  position: absolute;
  background-color: #080202;
  border: none;
  z-index: 1;
  width: 100%;
}

.language-options div {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-options div:hover {
  background-color: #666666;
}

.language-dropdown.open .language-options {
  display: block;
}

.language-flag {
  width: 20px;
  height: auto;
}

/* breadcrumb */
.breadcrumb {
  display: none;
}
.breadcrumb input {
  display: none;
}
.brd-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #393535;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.brd-btn:hover {
  background-color: #5c5a5a;
  transition: all 0.3s ease;
}

/* mobile menu ====================================================================================== */

.mobl-menu {
  display: none;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  z-index: 1000;
}

/* Add an overlay when menu is active */
body.menu-open {
  overflow: hidden; /* Prevent scrolling */
}

body.menu-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

body:has(#mobile-menu:checked) .mobl-menu {
  display: block;
}
.logo-mobile {
  display: flex;
  padding: 30px 35px 0 35px;
  justify-content: space-between;
  align-items: center;
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #cccccc;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.close-btn:hover {
  background-color: #5c5a5a;
  transition: all 0.3s ease;
}

.lang-mobile {
  padding: 20px 35px 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnt-btn-mob {
  padding: 20px 35px 20px 35px;
}

/* footer ========================================================================= */
.footer {
  padding: 60px 0 0 0;
  display: flex;
  justify-content: center;
  background-color: #080202;
}
.inner-footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gap {
  gap: 30px;
}
.links h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
.links ul {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.links ul li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #9c9999;
  transition: all 0.3s ease;
  display: inline-block;
}
.links ul li a:hover {
  transform: translateX(5px);
  transition: all 0.3s ease;
  color: #ffffff;
}
.social-links {
  display: flex;
  justify-content: space-between;
}
.social-links a:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.copyright {
  display: flex;
  justify-content: center;
  background-color: #080202;
}
.inner-copyright {
  border: none;
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #fefefe66;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.inner-copyright span {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.inner-copyright div ul {
  display: flex;
  gap: 20px;
}
.inner-copyright div ul li a {
  text-decoration: underline;
  transition: all 0.3s ease;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.inner-copyright div ul li a:hover {
  color: #ca262b;
}
